.conteneur{
	background-color: #b5b5b5;
	display: inline-grid;
	grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px ;
	grid-template-rows: 20px 20px 20px 20px 20px 20px 20px 20px 20px 20px ;
	grid-gap:5px;
	padding:10px;
}
.enclenche{
	background-color: #9c9c9c;
	text-align: center;
	/**color:#9c9c9c**/
}
.non_enclenche{
	background-color: #c9c9c9;
	text-align: center;
	color: #D57927;
	
}
.mine{
	background: url('images/mine.png');
	background-size: 20px 20px;
	height:20px;
	width:20px;
}